# Visual Studio Code
vscode/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Google API Credentials
assets/*.json

# Python
__pycache__/
*.py[cod]
*$py.class

# Data folder
data/*
data/