[Unit]
Description=PigNet Log Checking
Requires=pignet.service
After=chrony-wait.service

[Service]
Type=oneshot
ExecStart=%h/bin/logcheck-pignet.sh

