[Unit]
Description=PigNet Log Checking
After=chrony-wait.service

[Service]
Type=oneshot
ExecStart=%h/bin/logcheck-pignet.sh

Nice=19
CPUSchedulingPolicy=idle
IOSchedulingClass=idle
CPUQuota=50%
