[Unit]
Description=Test Network by Pinging Default Gateway
After=network-online.target
StartLimitIntervalSec=1m
StartLimitBurst=5
StartLimitAction=reboot

[Service]
TimeoutStopSec=10s
ExecStart=/usr/bin/ping -q -c1 _gateway
Restart=on-failure
RestartSec=10ms
Type=oneshot

[Install]
WantedBy=multi-user.target
