[Unit]
Description=PigNet MQTT Data Logger service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=3
TimeoutStopSec=1m
KillSignal=SIGINT
ExecStart=%h/bin/pignet.sh

[Install]
WantedBy=default.target
