[Unit]
Description=Upload Geophone Data with Rclone
Documentation=https://rclone.org/commands/rclone_serve_webdav/
After=local-fs.target network-online.target

[Service]
Type=oneshot
Environment=PIGNET_DIR="/media/hdd/"
Environment=REMOTE="%i:PigNet/"

ExecStartPre=/home/lab/bin/pigArchive.sh
ExecStart=/usr/bin/rclone copy "$PIGNET_DIR" "$REMOTE" -v --local-no-check-updated --exclude 'data/*/'

[Install]
WantedBy=default.target
